/* ----------------------------------------------- */
/* HTML Elements */

* {
    padding: 0px;
    margin: 10px;
    color: red;
}

body {
    background-image: url("korriban.jpg")

}

article {
    border: 1px solid gray;
    box-shadow: 2px 2px 5px blue;
    margin: 3em;
    padding: 1em;
}

aside {
    background-image: linear-gradient(to bottom right, black, gray);
    text-align: center;
    font-size: 50px;
    font-family:Serif, Rockwell Extra Bold;
    color: white;
    border: 4px solid red;
    border-style: inset;
    border-radius: 50px;
    float: right;
    width: 50%;
}

h2 {    
    font-size: 40px;
    font-family: Fantasy, Papyrus;
    color: white;
    
}    

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;

}

header {
    border-radius: 50px;
    border: 10px solid white;
    outline-style: outset;
    background-color: rgb(90, 90, 90);
    font-family: sans-serif;
    text-align: center;
    height: 160px;
    padding: 20px;
}

h1 {    
    font-size: 80px;
    font-family:Serif, Rockwell Extra Bold;
    text-shadow: 2px 4px black;
    color: pink;
    padding: 0px;
}    

h2 {    
    font-size: 50px;
    font-family:Serif, Rockwell Extra Bold;
    color: green;
}    



hr {
    padding: 0px;
    border: 4px solid #F6B018;
    font-size: 50px;
    color: white;
}

li {
    margin: 5px 3em;
    padding: 0px;
    text-align: left;
    font-size: 40px;
    font-family: Fantasy, Papyrus;
    color: white;
}

img {
    border-style: inset;
    border: 4px solid red;

}
/* ----------------------------------------------- */
/* Classes */

.header_logo {
    width: 80px;
    float: right;
    background-color: white;
    box-shadow: 2px 2px 5px pink;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
}

.page {
    padding: 2em;
    box-shadow: 2px 2px 5px grey;
    background-color: #eeeeee;
    border: 3px solid #0E3D65;
    border-radius: 10px;
    width: 50%;
    float: left;
}

body {
    color: green;
}

h1 {
    color: red;
    text-align: center;
    background-color: gray;
}
