/* ----------------------------------------------- */
/* HTML Elements */

* {
    padding: 0px;
    margin: 10px;
    color: purple;
}

body {

    margin: 2em;
    padding: 40px;
    text-align: center;
    color: yellow;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 60px;
}

article {
    border: 1px solid gray;
    box-shadow: 2px 2px 5px blue;
    margin: 3em;
    padding: 1em;
}

aside {
    background-color: gray;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    border: 2px solid red;
    float: right;
    width: 30%;
}

footer {
    clear: both;
    text-align: center;
    margin: 2em;
    padding: 2em;
}

header {

    margin: 2em;
    padding: 40px;
    text-align: center;
    font: 200% cursive;
    color: brown;
    border: 1px solid gray;
    background-color: tan;
    border-radius: 60px;
    border: 1px solid black;

hr {
    padding: 0px;
    border: 4px solid pink;
}

li {
    margin: 5px 3em;
    padding: 0px;
}

/* ----------------------------------------------- */
/* Classes */

.header_logo {
    width: 80px;
    float: right;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
}

.page {
    padding: 2em;
    box-shadow: 2px 2px 5px grey;
    background-color: #eeeeee;
    border: 3px solid #0E3D65;
    border-radius: 10px;
    width: 50%;
    float: left;
}

body {
    color: green;
}

h1 {
    color: red;
    text-align: center;
    background-color: gray;
}
